In [1]:
import pandas as pd

In [2]:
data = {'School': ['USC','USC','USC','USC','USC','USC','USC','UGA','UGA','UGA','UGA','UGA','UGA'], 'Year' : [2014, 2015, 2016,2017, 2018, 2019, 2020, 2015, 2016, 2017, 2018, 2019, 2020], 'Wins': [7,3,6,9,7,4,2,10,8,13,11,12,8]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   School  Year  Wins
0     USC  2014     7
1     USC  2015     3
2     USC  2016     6
3     USC  2017     9
4     USC  2018     7
5     USC  2019     4
6     USC  2020     2
7     UGA  2015    10
8     UGA  2016     8
9     UGA  2017    13
10    UGA  2018    11
11    UGA  2019    12
12    UGA  2020     8